*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
}

body{
    font-family: monospace;
}

.container{
    width: 60%;
    margin: 20px auto;
    border: 1px solid gray;
    padding: 5px;
}

.container h1{
    font-size: 14px;
}

.container .goals{
    margin-top: 20px;
}


